.body1{
    background-color: lightgray
}
.navbaractive {
    font-weight: bold;
    background-color: #48C9B0;
    color: white;
    font-size: 30px;
    padding: 10px;
    
}

.stronger{
    font-weight: bold;
}

.firstimage {
    width: 20%; 
    float: left; 
    margin : 5px;
    src: url("max_temp.png")

}

.whiteback{
    background-color: white;
}

.text {
    float: right;
}

.navbar-default{
    background-color: white;
    color: darkslategrey
}
.navbar-default .navbar-nav .active a{
    background-color: rgb(20, 180, 164);
    color: white;
}

h1{
    color: rgb(20, 180, 164);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif
}

h2{
    color: rgb(20, 180, 164);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif
}

.dataframe1{
    border: 1px; 
    border-collapse: collapse;
}

#landingimage{
    float: left;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
}


#side-img4:hover{
    border: 3px solid rgb(20, 180, 164);
}
.bottom-footer {
    background-color: slategrey;
    margin-top: 20px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border-top: 10px solid rgb(20, 180, 164);
    line-height: 25px;
}
#footer-txt{
    margin: 0;
    color: white;
}

#result-img{
    width: 500px;
    max-width: 100%;
    
}

#summarytext{
    background-color: white;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.compimage{
    height: 400px;
    width: 500px;
}

table {
    border-collapse: collapse;
}

th,td {
    border: 1px solid black;
}

p{
  font-size: 20px;
  padding: 7px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;  
}

.landingbox{
    padding: 20px;
    background: white;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    align-content: center;
    position: relative;
}

.side-box{
    background: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    align-content: center;
    position: relative;
}

.sidebar{
    position: relative;
    height: 350px;
    width: 385px;
    align-content: center;
}

#side-img1{
    position: absolute;
    top: 0;
    left: 0;
    height: 160px;
    width: 160px;
    border: 3px solid white;
}
#side-img1:hover{
    border: 3px solid rgb(20, 180, 164);
}

#side-img2{
    position: absolute;
    top: 0;
    right: 0;
    height: 160px;
    width: 160px;
    border: 3px solid white;
}

#side-img2:hover{
    border: 3px solid rgb(20, 180, 164);
}

#side-img3{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 160px;
    width: 160px;
    border: 3px solid white;
}

#side-img3:hover{
    border: 3px solid rgb(20, 180, 164);
}

#side-img4{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 160px;
    width: 160px;
    border: 3px solid white;
}